body {
    margin: 0px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7fr 6fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 272px;
    margin-bottom: 30px;
}

#search_box_container {
    border: 1px solid #dfe1e5;
    height: 44px;
    width: auto;
    border-radius: 22px;
    display: flex;
    align-items: center;
}

#search_text {
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    height: 85%;
    width: 420px;
    font-size: 100%;
    color: rgba(0,0,0,.87);
    margin-right: 20px;
}

#search_image {
    margin: 0 10px 0 20px;
}